@font-face {
    font-family: 'toyota_displaybold';
    src: url('fonts/toyotadisplay_bd-webfont.woff2') format('woff2'),
         url('fonts/toyotadisplay_bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'toyota_textregular';
    src: url('fonts/text_rg-webfont.woff2') format('woff2'),
         url('fonts/text_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
	max-width: 1900px;
	margin: auto;
	font-size: 12px;
}

#iims{
	margin-top: 72px;
}
.banner{
	margin-bottom: 40px;
}
.banner img{ width: 100%; }
#iims-container{	
	max-width: 1024px;
	width: 85%;
	margin: 0 auto;
}

.iimsTitle{
	color: #0273b7;
	font-size: 2em;
	padding: 10px 0px;
	width: 100%;
	display: block;
	font-weight: bold;
	border-bottom: solid 2px #0273b7 ;
	margin-bottom: 30px;
}

.jadwal-item1{
	width: 25% ;
	display:inline-block;
	vertical-align: top;
}
.jadwal-item2{
	width: 45% ;
	display:inline-block;
}

.text1{
	color:#fc0001;
	font-size: 3em;
	font-weight: bold;
	padding: 0px;
	line-height: 1em;
}

.text2{
	color:#fc0001;
	font-size: 3.8em;
	font-weight: bold;
	padding: 0px;
	line-height: 1em;
}

.text3{
	color:#000000;
	font-size: 2em;

}

.text4{
	color:#000000;
	font-size: 3em;

}

.text5{
	color:#0273b7;
	font-size: 1.25em;

}
.text6{
	color:#000000;
	font-size: 2em;
	font-weight: bold;
}

.text7{
	color:#0273b7;
	font-size: 3.5em;
	font-weight: bold;
}
.display-container{
	width: 100%;
	text-align: center;
}
.display-item{
	width: 30%;
	display: inline-block;
	text-align: center;
	margin: 0.5%;
}